<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga cupiditate esse earum, sint tenetur quia sapiente. Iste aliquid iusto beatae vero modi impedit nemo earum nihil quos velit! Amet, voluptas.</p>
    <button>click me</button>
    <h1>we have 5+6+7</h1>
    <h1><%= 5+6+7%></h1>
    <h1><%= "apnacollege".toUpperCase() %></h1>
    <h1><%= ["hello", "h1", "hey","namaste"][3]%></h1>
</body>
</html>