*{
    font-family: "Courier New";
}

h3,h1{
    color: crimson;
}

#login{
    background-color: white;
}
#signup{
    background-color: crimson;
    color: wheat;
}

.upvote{
    background-color: rgb(79, 128, 6);
    color: wheat;
}
/* descendent selector */
p a{
    color: pink;
}